/* Material UI icon vertical positioning */
.material-ui-icon {
    vertical-align: bottom;
    display: table-cell;
}

/* Background style */
#background {
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transform: scale(1.03); /* Remove white edge created by css filter blur property */
    -webkit-transform: scale(1.03); /* Remove white edge created by css filter blur property */
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: -1;
    overflow: auto;
}
