.centreText {
    text-align: center;
    margin-top: 50px;
}

.countryOptions {
    cursor: pointer;
}

.countryOptions:hover {
    color: purple;
}

iframe.iframeTriggerOnly {
    display: none;
}

.searchBar {
    margin-top: 5%!important;
    width: 60%;
}

#wrapper {
    max-width: 70%;
    margin: 0 auto;
}