.centreText {
    text-align: center;
    margin-top: 50px;
}

.countryOptions {
    cursor: pointer;
}

.countryOptions:hover {
    color: purple;
}

iframe.iframeTriggerOnly {
    display: none;
}

.searchBar {
    margin-top: 5%!important;
    width: 60%;
}

.countryDescription {
    text-align: justify;
}

.countryDetailsTitle {
    display: inline-block;
}

img.countryFlag {
    vertical-align: text-bottom;
    margin-left: 5px;
    width: 50px;
    display: inline-block;
}

#wrapper {
    max-width: 70%;
    margin: 0 auto;
}